@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background: #e5e5e5;
  height: 100%;
  font-family: 'poppins', sans-serif;
}

img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  top: 0%;
  background: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 4.8em;
  padding: 0.4rem 0;
  position: sticky;
}

.header-ul {
  display: none;
}

.my-button {
  background-color: white;
  margin-right: 6rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(96, 112, 255, 0.9);
  width: 100%;
  height: 800px;
  backdrop-filter: blur(13px);
}

.mobile-menu.active {
  display: block;
}

.list {
  list-style: none;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.link {
  color: white;
}

.cancel {
  margin-top: 40px;
  margin-left: 90%;
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto 0 10px;
  padding-left: 5rem;
}

nav {
  display: flex;
  align-content: flex-end;
  margin-right: 40px;
  width: 1.8px;
  height: 12px;
  left: 3px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-left: 1.4em;
  padding-right: 1.4em;
  font-family: 'poppins', sans-serif;
  background-image: url(../images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 10px;
  border-bottom-left-radius: 5em;
  background-size: cover;
  width: 100%;
}

.name {
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  align-items: center;
  flex: none;
  order: 0;
  width: 100%;
  height: 50%;
  letter-spacing: 0.37px;
}

.pharagraph {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  margin-top: 0;
  padding-bottom: 4rem;
}

.connect {
  display: flex;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 2.4em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;

  /* font-size: 1.6em; */
  line-height: 2.4em;
  padding-bottom: 20px;
}

.connect a {
  padding: 0.3em;
}

.social-media-one {
  color: #7f8cff;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
  padding: 0 3em;
}

.card {
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  background-color: white;
  background-image: none;
  border: 0.2rem solid white;
  margin: 4em auto;
}

.popup-card {
  margin-top: 0;
}
.popup-header {
  display: flex;
  align-items: center;
}

.card-title {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
  width: 200px;
  margin-bottom: 3px;
}

.card-title-two {
  margin-right: auto;
}
.cardtwo {
  margin: auto;
}

.card-about {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 12px;
  font-family: 'popines', sans-serif;
}

.card-about ul {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 16px;
  padding-left: 20px;
  color: #7a869a;
}

.card p {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
}

.card1-description-alt-p {
  display: none;
}

.card-about p {
  align-items: center;
  padding: 8px 0;
  font-size: 13px;
  color: #344563;
  font-weight: 600;
}

.cardpic {
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

.card ul {
  display: flex;
  gap: 8px;
  height: 24px;
  margin-left: 0;
  padding-left: 0;
}

.card li {
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
}

.language {
  margin-left: 0;
}

.language li {
  font-family: 'popines', sans-serif;
  background-color: #ebebff;
  border-radius: 8px;
  font-style: normal;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  list-style: none;
}

.card button {
  color: #6070ff;
  width: 10rem;
  height: 44px;
  border-color: #6070ff;
  background-color: white;
  border-radius: 9px;
  font-size: 17px;
}

.about-me button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  width: 162px;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  height: 48px;
  background-color: white;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

.card button:hover {
  background-color: #6070ff;
  color: white;
}

.card button:active {
  background-color: #2230d2;
  color: white;
}

.about-me {
  width: 100%;
  background-color: white;
  padding-top: 9%;
  padding-left: 6%;
  padding-right: 6%;
  border-top-right-radius: 80px;
}

.myself-name {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  gap: 10px;
  list-style: none;
}

.social {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.about {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: -16px;
}

.langu {
  display: flex;
  align-items: center;
}

.langu h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  align-items: center;
  color: #344563;
  list-style: none;
  margin-right: auto;
}

.language-fream img {
  width: 48px;
  height: 48px;
  margin-left: 12px;
  margin-top: 9px;
}

.langu a img {
  padding: 8px;
  margin-right: 40px;
}

.language-fream {
  display: flex;
  flex-direction: column;
}

.language-fream ul {
  list-style: none;
  padding-left: 16px;
}

.language-fream li {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  align-items: center;
  margin: 12px 0 21px 0;
}

.language-fream p {
  padding-left: 16px;
  margin: 16px 0;
}

.freamwork {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.freamwork h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #344563;
  list-style: none;
  margin-right: auto;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skill h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #344563;
  list-style: none;
  margin-right: auto;
}

hr {
  flex: 0 0 100%;
}

.contact-me {
  width: 100%;
  height: 100%;
  background: #6070ff;
  padding-top: 9%;
  padding-left: 20%;
  padding-right: 20%;
  border-top-left-radius: 90px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/contact-form.png);
  background-size: cover;
  margin-top: 113px;
}

.contact-me h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 103px;
}

.contact-me p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.text-field {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  height: 48px;
  margin-bottom: 5px;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.email-field {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  height: 48px;
  margin-bottom: 5px;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.textarea-field {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  height: max-content;
  min-width: 327px;
  min-height: 170px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #b3bac5;
}

.textarea-field::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.form-btn {
  padding: 10px 10px;
  width: 130px;
  height: 45px;
  margin-top: 22px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
  border: none;
}

.shape {
  display: flex;
  margin: 15px auto;
}

.form-btn:hover {
  background-color: #2230d2;
  color: white;
}

.hide {
  display: none;
}
/* .close-btn */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(68, 96, 137, 0.3);
  backdrop-filter: blur(10px);
  overflow-y: auto;
}

#modal {
  margin: auto;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 10px;
  padding: 10px;
}

.card-pop1 {
  width: 100%;
}
