@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
  background-color: #f3ecec;
}

/* html {
  background-color: #f3ecec;
  overflow: hidden;
} */

img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  top: 0%;
  background: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100vw;
  height: 48px;
  padding: 14px 0;
}

.my-button {
  border: none;
  background-color: #fff;
  margin-right: 60px;
}

.my-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #6070ff;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 auto 0 10px;
}

nav {
  display: flex;
  align-content: flex-end;
  margin-right: 40px;
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  background: #6070ff;
}

.flex-container {
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "poppins", sans-serif;
  background-image: url(../images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-color: white;
  padding-bottom: 10px;
  border-bottom-left-radius: 70px;
  background-size: cover;
}

.name {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #172b4d;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  height: 150px;
  margin-bottom: 0;
}

.pharagraph {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 7px;
}

.connect {
  display: flex;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 0;
}

.connect a {
  padding: 3px;
}

.social-media {
  color: #7f8cff;
}
